[Desktop Entry]
Type=Application
Version=1.0
Name=Install Linux GITcube
GenericName=Calamares Installer
Exec=calamares-install-debian
Comment=Calamares — Installer for Linux GITcube Live
Keywords=calamares;system;install;debian;installer
Icon=install-debian
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
